// Primary
$black: #181b1d;
$grayDark: #1f2224;
$gray: #2a2e30;
$white: #ffffff;
$blueMore: #285ddf;
$blue: #2c68fa;
$blueLess: #487cfd;
$blue25: #2c68fa40;

// Secondary
$redMore: #c13c3c;
$red: #ff4e4e;
$redLess: #f46f6f;
$red25: #f14b4b40;
$purple: #9180ff;

// Overlay
// White
$white75: #ffffffbf;
$white50: #ffffff80;
$white25: #ffffff40;
//Dark
$grayDark75: #1f2224bf;
$grayDark50: #1f222480;
