@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.wrapper {
  background: $black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    width: 29%;
    background: $grayDark;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 14px;

    h1 {
      text-align: center;
    }
    button {
      border: none;
    }
    .CatIcon {
      width: 100%;
      color: white;
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper .form {
    width: 50%;
  }
}

@media screen and (max-width: 670px) {
  .wrapper .form {
    width: 70%;
  }
}

@media screen and (max-width: 530px) {
  .wrapper .form {
    width: 80%;
  }
}